<div>
    <div>
        <div>Rutina1</div>
        <button>FAVORITO</button>
    </div>

    <div class="container">
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
    </div>

</div>

<p></p>

<div>
    <div>
        <div>Rutina2</div>
        <button>FAVORITO</button>
    </div>

    <div class="container">
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
        <div>FDJSFHKS</div>
    </div>

</div>